/* Estilos gerais */
body {
    padding: 0 2rem;
    background-color: #55d5cd;
    padding-top: 60px; /* Adiciona espaço para a topbar fixa */
}

#game-name-img {
    width: 20%;
    height: auto;
}
  
.card-img {
    width: 100%;
    height: auto;
}

.card-model-img {
    width: 60%;
    height: auto;
}

.card-item {
    padding-bottom: 1rem; /* Espaçamento vertical entre as cartas */
}

.hover-zoom {
    transition: transform 0.2s; /* Transição suave para o efeito de zoom */
}

.hover-zoom:hover {
    transform: scale(1.1); /* Aumenta a escala da imagem ao passar o mouse */
}

.clickable {
    cursor: pointer; /* Altera o cursor para indicar que a carta é clicável */
}

.modal {
    background: rgba(0,0,0,0.7); 
}

#modalCardEffect {
    margin-bottom: 30px;
}

#modalCardDetails b {
    color: rgb(255, 229, 172);
}

#modalCardDetails li {
    color: rgb(255, 229, 172);
    margin-bottom: 15px;
}

#modalCardDetails li a {
    color: rgb(255, 255, 255);
}

#modalButtons {
    margin-top: 30px;
}

.map-container {
    position: relative; /* Garante que o contêiner seja relativo para posicionar a imagem */
    width: 100%; /* Garante que a largura do contêiner seja igual à largura da grade */
    max-width: 100%; /* Para garantir que a imagem não ultrapasse a largura máxima do contêiner */
    height: auto; /* Ajusta a altura automaticamente para manter a proporção da imagem */
}

/* Estilos da Topbar */
.topbar {
    background: #2c3e50; /* Cor de fundo escura */
    color: white;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    width: 100%; /* Ocupa toda a largura da tela */
    position: fixed; /* Fixa a topbar no topo */
    top: 0; /* Alinha no topo da página */
    left: 0; /* Alinha à esquerda */
    z-index: 1000; /* Garante que a topbar fique acima de outros elementos */
}

.topbar a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold; /* Texto em negrito */
    transition: color 0.3s ease; /* Transição suave de cor */
}

.topbar a:hover {
    color: #55d5cd; /* Cor azul clara ao passar o mouse */
}
.topbar a.active {
    color: #55d5cd; /* Cor azul clara para o link ativo */
    border-bottom: 2px solid #55d5cd; /* Sublinhado para destacar */
}

/* Estilos da Grid do Mapa */
.map-grid {
    display: grid;
    grid-template-columns: repeat(7, 50px); /* 7 colunas de 50px cada */
    grid-template-rows: repeat(7, 50px); /* 7 linhas de 50px cada */
    gap: 5px; /* Espaçamento entre as células */
}

.map-cell {
    width: 50px;
    height: 50px;
    background-color: #2c3e50; /* Cor de fundo das células */
    border: 1px solid #55d5cd; /* Borda azul clara */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s ease; /* Transição suave */
}

.map-cell:hover {
    background-color: #55d5cd; /* Cor ao passar o mouse */
    cursor: pointer;
}
#areaModal .modal-content {
    background-color: #2c3e50;
    border: 2px solid #55d5cd;
}

#areaModal .modal-header {
    border-bottom: 1px solid #55d5cd;
}

#modalAreaEffect {
    font-size: 16px;  /* Ajusta o tamanho da fonte */
    line-height: 1.6;  /* Aumenta o espaçamento entre as linhas */
    white-space: pre-wrap;  /* Faz com quebras de linha apareçam corretamente */
}

.area-item {
    padding-bottom: 1rem; /* Espaçamento vertical entre as áreas */
}

.area-img {
    width: 100%;
    height: auto;
    cursor: pointer; /* Indica que a área é clicável */
}

.card {
    background: linear-gradient(135deg, #2c3e50, #3a6171); /* Tons de azul escuro */
    border: none;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    color: white;
}

.card-body {
    background-color: #3a6171; /* Azul médio */
    border-radius: 10px;
}

.list-group-item {
    background-color: #4a7b8d; /* Azul mais claro */
    border: none;
    color: white;
}

/* Estilo alternado para linhas ímpares e pares */
.list-group-item:nth-child(odd) {
    background-color: #6695a7; /* Azul escuro */
}

.list-group-item:nth-child(even) {
    background-color: #4a7b8d; /* Azul mais claro */
}

/* Estiliza a bolinha da raridade */
.rarity-indicator {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 8px;
}

/* Cores para diferentes raridades */

.rarity-common {
    background-color: #00eb31; /* Comum */
}

.rarity-rare {
    background-color: #0eceeb; /* Raro */
}

.rarity-epic {
    background-color: #d800ff; /* Épico */
}

.rarity-legendary {
    background-color: #e1002d; /* Lendário */
}

/* Miniatura da carta */
.card-thumbnail {
    width: 5%; /* Define um tamanho pequeno */
    height: 5%;
    margin-right: 10px;
    border-radius: 2px;
    object-fit: cover;
}

.deck-difficulty {
    font-size: 18px;
    color: #f1c40f; /* Amarelo dourado */
    margin-bottom: 10px;
}