
.topnav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2%;
    width: 80%;
    z-index: 10;
}

.topnav > * {
    margin: 0 10px; /* Ajuste o espaçamento conforme necessário */
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

#tabuleiro {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 300px;
    height: 300px;
}

#tabuleiro .celula {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

#tabuleiro .celula-azul {
    background-color: #b8dbe7;
}

#tabuleiro .celula-vermelho {
    background-color: #f5cdcd;
}

#tabuleiro .celula-laranja {
    background-color: #fff1e1;
}

/* Bubbles */

.bubble {
    position: absolute;
    border-radius: 50%;
    background: rgba(109, 109, 109, 0.1);
    opacity: 0.5;
    z-index: -1;
}

/* Estilos específicos para os bubbles em cada célula */
.celula .bubble1 {
    width: 20px;
    height: 20px;
    top: 10%;
    left: 15%;
}

.celula .bubble2 {
    width: 25px;
    height: 25px;
    top: 20%;
    right: 20%;
}




#contagemRegressiva {
    font-size: 2em;
    color: rgb(0, 0, 0);
    text-align: left;
    width: 10%;
}

.score .bestScore {
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-align: right;
    width: 10%;
}

.scores {
    display: flex;
    justify-content: center; /* alterado para centralizar os itens */
    margin-bottom: 25px; /* adiciona uma margem inferior para separar dos botões */
    gap: 30px; /* adiciona um espaço entre os itens de pontuação */
}


.melted-ice-cream {
    width: 60%; /* ou qualquer tamanho que você deseja */
    height: auto;
    display: block;
    margin: 0 auto 20px auto;
}

/* Estilos adicionados para o inventário */
.inventory-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 2%;
}

#inventario {
    margin-top: 5px;
    display: flex;
    width: 300px;
}


.slot {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 2px solid #978e8e;
    border-radius: 5px;
    margin: 0 5px;
    box-sizing: border-box;
    display: flex;
    align-items: center; 
    justify-content: center; 
    background-color: #cac0bca4; 
}

.slot img {
    max-width: 80%;
    max-height: 80%;
    display: block;
}

.slot-number {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(0,0,0,0.5); 
    color: white;
    padding: 2px 5px;
    border-radius: 5px;
    font-size: 12px;
}

.power-up {
    width: 75px;
    height: 75px;
    background-size: contain; /* isso garantirá que a imagem seja redimensionada para caber dentro do div */
    background-repeat: no-repeat;
    background-position: center;
}

.bloqueado {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    border-radius: 5px; 
}

.bloqueado.inativo {
    display: none;
}