
.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

.initial-buttons-container {
    display: flex;
    flex-direction: column;
}

.initial-buttons-container > button {
    background-color: #f1f1f1;
    margin: 5px;
}


.title {
    font-size: 3.5rem;
    color: #FF98CC; 
    /* color: #f982bf; */
    text-shadow: 0 0 10px #962b62;
    margin-bottom: 0.5rem;
    text-align: center;
}


